/* Common settings */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Roboto";
    text-shadow: .3rem .3rem .5rem white;
    margin: 0;
    padding: 0;
    background-image: url("../bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
h3 {
    margin: 0;
    padding: 0;
}

/* End of Common Settings */

/* Header */

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.error {
    display: none;
}

.form {
    display: flex;
    align-items: center;
    margin: 50px;
    border-bottom: 2px solid black;
    padding: 6px 12px;
}

#input-city {
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

#input-city:focus {
    outline: none;
}

.search {
    font-size: 2.5rem;
    cursor: pointer;
    text-shadow: none;
}

/* End of Header */

/* Weather Data */
.weather-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
}

.weather {
    font-size: 8rem;
    font-weight: 600;
}

.city-info {
    display: flex;
    flex-direction: column;
}

.city,
.date {
    font-size: 2rem;
}

.city {
    padding-bottom: 20px;
    font-weight: 600;
}

h1.weather {
    padding-bottom: 15px;
    margin: 0;
}

.celsius {
    font-size: 8rem;
    font-weight: 900;
    margin: 50px 50px 50px 0;
}

.add-info {
    font-size: 4.5rem;
}

.feelslike,
.wind,
.humidity,
.rain {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.celsius-info {
    font-size: 2.5rem;
    display: flex;
    gap: 20px;
}

.condition {
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;

}

.icon {
    font-size: 10rem;
}

.weather-details-icon,
.weather-details-icon-rain {
    width: 6rem;
    margin-right: 30px;
}

.weather-details-icon-rain {
    font-size: 7rem;
}

.add-info-data-text {
    font-size: 1rem;
}


@media only screen and (max-width:2560px) {
    .weather {
        font-size: 5rem;
        font-weight: 600;
    }

    .add-info {
        font-size: 2.5rem;
    }

    .celsius {
        font-size: 4rem;
        font-weight: 800;
        margin: 50px 50px 50px 0;
    }
}